:root {
  font-family: Raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100%;
    margin: 0 auto;
}

.wrap-main{
  
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 150px 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  font-weight: 500;
  color: #1D1F22;
  text-decoration: inherit;
}

img{
  width: 100%;
  height: auto;
  max-width: 100%;
}

.primary-btn{
  padding: 14px;
  background-color: #5ECE7B;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

.primary-btn.disabled{
  background-color: #ccc;
  cursor: not-allowed;
}
body {
  margin: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 0px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background: transparent;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}


*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}